# ===============================================
# ------------ macOS related ignores ------------
.DS_Store
**/.DS_Store

# ===============================================
# --------- sbt project related ignores ---------
.bsp/*/
.metals
.bloop/*/
project/*/
target

# ===============================================
# ------------ scala related ignores ------------
*.class

# ===============================================
# ---------- data file related ignores ----------
# ...


